[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
joblib = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "*"
imbalanced-learn = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
